@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");

input,
button,
select {
	outline: none;
}

input {
	padding: 20px;
}

ul {
	list-style: none;
}

.host-banner {
	width: 100%;
	max-height: 1040px;
	margin-bottom: 50px;
}

.host-form {
	position: absolute;
	background-color: white;
	border-radius: 20px;
	height: 480px;
	width: 935px;
	transform: translate(320px, -470px);
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1) !important;
	display: flex;
	flex-direction: row;
	/* overflow: scroll; */
}

.host-img {
	padding: 30px;
	height: 680px;
}

.host-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.estimate-earning {
	/* width: 47%; */
	flex: 47;
	height: 100%;
	padding: 30px;
	border-right: 1px solid #e4e4e4;
}

.estimate-earning h1 {
	/* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		"Helvetica Neue", sans-serif !important; */
	font-weight: 800;
	font-size: 42px;
	text-align: left;
	margin-bottom: 20px;
}
.estimate-earning p {
	font-size: 13px;
}

.form-container {
	flex: 53;
	/* padding: 30px; */
	/* width: 53%; */
	display: flex;
	flex-direction: column;
}

.form-container p {
	font-size: 18px;
	padding-bottom: 20px;
}

.form-container > div {
	padding: 25px 40px;
}

p.more {
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #222222;
	padding: 7px 0;
}

/* 
p.more i{
  font-weight: 400;
  font-size: 12px;
  color: #222222;
} */

p.more:hover {
	color: #414141;
}

.form::-webkit-scrollbar {
	display: none;
}

.form {
	overflow: scroll;
	overflow-x: hidden;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.form form .section-form {
	margin: 5px 0;
	padding-top: 20px;
}

.section-form input[type="text"],
.section-form select {
	width: 100%;
	height: 50px;
	padding: 10px;
	border: 1px solid #b6b6b6 !important;
	border-bottom: none !important;
}

.section-form > :first-child {
	border-radius: 10px 10px 0 0;
}

.section-form > :not(:first-child) {
	border-radius: 0;
	border-top: none;
}

.section-form > :not(div):last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid #b6b6b6 !important;
}

.amenities label {
	color: #222222;
	float: left;
	display: block;
	width: 50%;
	padding: 5px;
	cursor: pointer;
}

.amenities input[type="checkbox"] {
	width: 22px;
	height: 22px;
	transform: translateY(5px);
	margin-right: 13px;
}

.start-btn {
	border-top: 1px solid #e4e4e4;
}

.start-btn button {
	width: 100%;
	height: 55px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	color: rgb(248, 248, 248);
	background: rgb(77, 226, 164);
	background: linear-gradient(
		137deg,
		rgba(77, 226, 164, 1) 0%,
		rgba(11, 204, 232, 1) 100%
	);
}

.main-content {
	padding: 40px 180px;
	position: relative;
	display: flex;
	flex-direction: column;
}

section {
	flex: 1;
	width: 100%;
	color: #333333;
}

p {
	line-height: 1.5;
	font-size: 17px;
}

.section-host-title::before {
	display: block;
	content: "";
	height: 2px;
	width: 80px;
	background-color: #444444;
	margin: 20px auto;
}

.section-host-title {
	margin: 40px 0;
	font-size: 44px;
}

.fake-link {
	color: #0bb5ce;
	cursor: pointer;
}

.fake-link:hover {
	text-decoration: underline;
}

.why {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0;
}

.why > div {
	width: 50%;
}

.why > div:first-child {
	margin-right: 20px;
}

.why > div:last-child {
	margin-left: 20px;
}

.why h2 {
	font-size: 26px;
	margin-bottom: 20px;
}

.three-steps ul {
	display: flex;
}

.three-steps ul li {
	width: 33%;
}

.three-steps ul li:nth-child(2) {
	margin: 0 40px;
}

.three-steps ul li > h3 {
	font-size: 26px;
	text-align: left;
	height: 80px;
}

.three-steps ul li > i {
	font-size: 60px;
	color: #0bb5ce;
}

.how {
	display: flex;
	padding: 90px 0;
}

.how > div {
	flex: 1;
}

.how > div:first-child {
	margin-right: 20px;
}
.how > div:last-child {
	margin-left: 20px;
}

.how h3::before {
	display: block;
	content: '"';
	font-family: "Catamaran", sans-serif;
	padding: 0;
	font-size: 152px;
	line-height: 0.4;
	color: #fdb32b;
}

.how h3 {
	font-size: 49px;
	text-align: left;
	padding: 120px 0 0 0;
	font-weight: 600;
}

.how-description {
	width: 70%;
	color: #444444;
}

.section-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.covered .covered-content {
	display: flex;
}

.covered-content i {
	color: #0bb5ce;
	padding: 0 10px 0 0;
}

.covered-content > div {
	width: 50%;
}

.covered-content > :first-child {
	margin-right: 20px;
}

.covered-content > :last-child {
	margin-left: 20px;
}

.covered-content ul > li {
	padding: 5px 0;
}

.payment > ul {
	display: flex;
	justify-content: space-between;
}

.payment-list > li {
	width: 30%;
}

.payment-list > li > h4 {
	font-size: 26px;
	margin-bottom: 20px;
	height: 70px;
}

.about ul {
	display: flex;
}

.about ul > li {
	flex: 1;
}

li > h4 {
	font-size: 26px;
	margin-bottom: 20px;
}

.about ul > li:first-child {
	margin-right: 20px;
}

.about ul > li:last-child {
	margin-left: 20px;
}

.ready-to-earn {
	margin-top: 100px;
}

.ready-to-earn img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	-webkit-box-shadow: 2px 14px 10px 0px rgba(71, 71, 71, 0.24);
	-moz-box-shadow: 2px 14px 10px 0px rgba(71, 71, 71, 0.24);
	box-shadow: 2px 14px 10px 0px rgba(71, 71, 71, 0.24);
}

.ready-button {
	color: white;
	position: absolute;
	transform: translate(100px, -230px);
}

.ready-button h1 {
	font-size: 50px;
	padding-bottom: 30px;
}
