.slide-container {
	border-radius: 10px;
	height: 300px;
	max-height: 300px;
	/* min-width: 350px; */
	max-width: 550px;
	margin: auto;
	width: 100%;
}

h3 {
	text-align: center;
}

.each-slide {
	max-height: 300px;
	background-size: cover;
	justify-content: center;
	align-items: center;
	/* min-width: 350px; */
	max-width: 550px;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}
/* .each-slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 300px;
	width: 100%;
} */

/* .each-slide span {
	padding: 20px;
	font-size: 20px;
	background: #efefef;
	text-align: center;
} */

.each-fade {
	display: flex;
}

.each-fade .image-container {
	width: 0%;
	overflow: hidden;
}

.each-fade h2 {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #adceed;
}

.indicators {
	position: fixed;
	align-self: auto;
	width: 100%;
	transform: translateY(-40px);
}
.indicator {
	height: 7px;
	width: 7px;
	margin-right: 2px;
	color: transparent;
	text-align: center;
	cursor: pointer;
	border: 1px white solid;
	border-radius: 100px;
}
.indicator.active {
	background: #fff;
	color: #fff;
}
.slide-img {
	object-fit: cover;
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	text-decoration: none;
}

.slider-wrap {
	flex: 1;
	position: relative;
	min-width: 300px;
	max-width: 550px;
	border-radius: 10px;
}
.img-slider-container {
	border-radius: 10px;
	flex: 1;
	max-width: 550px;
	min-width: 300px;
	justify-content: center;
	align-items: center;
	box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
	-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
	filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}
.navigation-button {
	position: absolute;
	align-self: center;
	z-index: 9;
	padding: 20px;
	margin-top: -190px;
	max-width: 550px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* transition: 0.2s all;
	opacity: 0; 
	pointer-events: none; */
}

.react-slideshow-container {
	border-radius: 10px !important;
}

.img-slider-container:hover .indicators.navigation-button {
	opacity: 1;
	pointer-events: all;
}